@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-blogtext bg-amber-50 bg-opacity-20;
}

body {
    @apply text-slate-700 bg-amber-50 bg-opacity-20;
}

* {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.slate.400") theme("colors.slate.200");
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    @apply bg-slate-200;
}

*::-webkit-scrollbar-thumb {
    @apply bg-slate-400;
    border-radius: 6px;
}

a {
    @apply underline hover:text-keenanpurple-dark text-slate-700;
}